/* Write your CSS here */
.notFoundContainer {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (mi-width: 768px) {
  .notFoundContainer {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
  }
}

.notFoundName {
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}
